.block{
    background-color: purple;
    width: 200px;
    height: 300px;
    transition: width 3s ease;
    transform: rotate(90deg);
    margin-left: 500px;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colorchange{
    0% {
        background-color: black;
        border-radius: 25px;
    }

    20%{
        background-color: red;
        border-radius: 25px;
    }

    40%{
        background-color: yellow;
        border-radius: 45px;
    }

    60% {
        background-color: blue;
        border-radius: 40px;
    }

    80% {
        background-color: purple;
        border-radius: 15px;
    }

    100% {
        background-color: black;
        border-radius: 35px;
    }
}

.block:hover{
    width: 400px;
}