*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./image/i.webp);
    background-size: cover;
}

header ul{
    
    padding: 15px;
    gap: 5px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center
}

header h1{
    color: white;
}

@media (max-width 1500px:)